<body>
    <header>
        <h1>Search patterns</h1>
    </header>

    <section>
        <div id="inputs-wrapper">
            <mat-form-field *ngFor="let i of nb_of_dims; let dim_index = index" appearance="fill">
                <mat-label>Dimension {{dim_index + 1}}</mat-label>
                <mat-select (click)="resetFilteredValues(dim_index)" (selectionChange)="onSelectionChange($event.value, dim_index)">
                    <input class="select-filter" placeholder="Filter values" (keyup)="onKey($event)">
                    <mat-option *ngFor="let value of filtered_values" [value]="value">{{value}}</mat-option>
                </mat-select>
              </mat-form-field>

            <button mat-fab aria-label="Reset filters" matTooltip="Clear filters" (click)="clearFilters()">
                <mat-icon>autorenew</mat-icon>
            </button>
        </div>

        <div id="table">
            <div class="table_column" *ngFor="let i of nb_of_dims; let dim_index = index">
                <h3>Dimension {{dim_index + 1}}</h3>
                <div class="selected_value_wrapper" *ngFor="let selected_value of selectedValues[dim_index]; let j = index">
                    <p>{{selected_value}}</p>
                    <button mat-icon-button (click)="deleteValue(dim_index, j)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div id="dialog-actions" mat-dialog-actions>
            <button mat-button mat-dialog-close cdkFocusInitial (click)="close()">Close</button>
            <button mat-button mat-dialog-close (click)="ok()">Ok</button>
        </div>
    </footer>
</body>