body{
    margin: 0 0 0 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow-y: hidden;

    header{
        width: 100%;
        height: 10%;
        padding-bottom: 1em;
        border-bottom: 1px solid lightgray;

        h1{
            padding: 1em 1em 1em 1em;
            margin: 0 0 0.5em 0;
        }
    }

    section{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        
        #inputs-wrapper{
            height: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 1em 0 1em 1em;

            overflow-x: auto;
            overflow-y: hidden;

            mat-form-field{
                padding: 0 1em 0 0;
                width: fit-content;
                height: fit-content;
            }
        }

        #table{
            padding: 1em 0 1em 1em;
            width: 98%;
            height: 100%;
            display: flex;
            flex-direction: row;
            // justify-content: center;

            overflow-x: auto;
            white-space: nowrap; 

            .table_column{
                display: flex;
                flex-direction: column;
                
                min-width: 150px; // Ensure minimum width for columns
                height: fit-content;

                padding-right: 1em;

                h3{
                    padding-left: 1em;
                    margin: 0 0 0.5em 0;
                    // color: #3f51b5; // Example color
                }

                .selected_value_wrapper{
                    display: flex;
                    flex-direction: row;
                    align-items: center; // Align items vertically

                    padding: 0.5em 0.5em 0.5em 0.5em;
                    margin-bottom: 0.5em;
                    border-radius: 5px;
                    background-color: rgb(214, 214, 214);

                    overflow: hidden;

                    p {
                        margin: 0; // Remove default paragraph margins
                        flex-grow: 1; // Allow the text to take up available space
                    }

                    button {
                        background: none;
                        border: none;
                        padding: 0;
                        margin-left: 0.5em;
                        cursor: pointer;

                        mat-icon {
                            font-size: 16px; 
                            color: #f44336; // Example color
                        }
                    }
                }
            }
        }
    }

    footer{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 1em;
        border-top: 1px solid lightgray;

        #dialog-actions{
            padding-right: 1em;

            button{
                margin-left: 1em;
            }
        }
        
    }
}