body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    width: 100%;
    height: 100%;

    // background-color: red;

    display: flex;
    flex-direction: row;

    overflow: hidden;
    
    #table-wrapper{
        width: 70%;
        height: 90%;
        overflow-y: auto;
        overflow-x: auto;
    }

    #filter{
        overflow: hidden;
        padding-top: 1em;
        
        padding-left: 2em;
        width: 20%;
        height: 20%;
    }
}