@use '@angular/material' as mat;
@import '../../../theme.scss';

body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    width: 100%;
    height: 100%;
    // background-color: red;

    overflow-x: hidden; /* Hide horizontal scrollbar */

    #info{
        padding: 1em 0 1em 2em;
        height: fit-content;
        // background-color: yellow;
    }

    section{
        height: 100%;

        #options-wrapper{
            // background-color: blue;
            width: 100%;
            height: 10vh;
            padding: 1em 0 0 2em;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            #dropdown{
                width: 6em;
                height: 5em;
            }
    
            #filter{
                width: 8em;
                height: 5em;
            }
        }

        #dim-summaries{
            .dim-summary{
                padding: 1em 0 1em 2em;
                
                width: 100%;
                max-height: 8em;

                overflow: hidden;
                
                .dim-summary-header{

                }

                .dim-summary-content{
                    display: inline-block;
                    width: 85%;

                    // white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-wrap: break-word;

                    .element{
                        word-wrap: break-word;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .dim-summary:hover{
                cursor: pointer;
                background-color: mat.get-color-from-palette($primary-palette, 800);
            }
        }
    }

    
}