<body>
    <div id="pattern-preview" *ngIf="pattern">
        <div id="info">
            <h1>Pattern {{pattern.identifier}}</h1>
            <div id="details">
                <span>Area: {{pattern.size}}</span> <br>
                <span>Density: {{pattern.density}}</span>
            </div>
        </div>
    
        <section>
            <div id="dim-summaries">
                <div class="dim-summary" *ngFor="let dim_values of this.pattern.dims_values; let i = index" (click)="openDimDialog(i)">
                    <div class="dim-summary-header">
                        <h2>Dimension {{i+1}}</h2>
                        <span>({{dim_values.length}} elements)</span> <br>
                    </div>
                    <div class="dim-summary-content">
                        <span class="element"> {{this.formatDimValues(dim_values)}} </span>
                    </div>
                </div>
            </div>
        </section>
        
        <footer></footer>
    </div>
</body>
