<body>
    <body>
        <header>
            <h1>Intersection details for patterns {{identifier}}</h1>
            <span>Total un-intersected percentage: {{total_untouched_percentage}}</span> <br>
            <span>Total intersected percentage: {{total_intersection_percentage}}</span>
        </header>
    
        <section>
            <table id="intersectors_table" mat-table [dataSource]="intersectors_data_source" matSort>
                            
                <!-- Column -->
                <ng-container matColumnDef="intersections">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Intersections ({{ intersectors_data_source.data.length}})</th>
                <td mat-cell *matCellDef="let row"> {{row}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="intersectors_displayed_columns"></tr>
                
                <tr
                    mat-row
                    (click)="selectIntersector(row)"
                    *matRowDef="let row; columns: intersectors_displayed_columns;"
                ></tr>
                
            </table>

            <table id="intersector_table" mat-table [dataSource]="intersector_data_source" matSort *ngIf="intersector_data_source">
                            
                <!-- Columns -->
                <ng-container matColumnDef="dim_value">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Dimension value ({{ intersector_data_source.data.length}})</th>
                <td mat-cell *matCellDef="let row"> {{row[0].dim_value}} </td>
                </ng-container>

                <ng-container matColumnDef="dim_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Dim ({{ intersector_data_source.data.length}})</th>
                <td mat-cell *matCellDef="let row"> {{row[0].dim_number}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="intersector_displayed_columns"></tr>
                <tr mat-row *matRowDef="let row; columns: intersector_displayed_columns;"></tr>
                
            </table>
            <!-- <div *ngFor="let entry of intersections | keyvalue">
                Pattern {{entry.key}} intersection represents {{entry.value[0]*100}}% of current pattern area
            </div> -->
        </section>
        
        <footer></footer>
    </body>
</body>
