@use '@angular/material' as mat;
@import '../../../../theme.scss';

body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;


    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    overflow-y: scroll;

    // background-color: green;

    header{
        width: 100%;
        height: fit-content;

        padding: 1em 1em 1em 4em;

        // background-color: blue;
    }

    section{
        width: 95%;
        height: 90%;

        padding: 1em 1em 1em 2em;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        // background-color: yellow;

        // overflow: hidden;

        #pattern-dropdown-wrapper{
            
        }

        h2{
            font-weight: normal;
        }

        #intersector_table_wrapper{
            width: 100%;
            overflow: auto;
            
            // background-color: blue;
            table{
                max-width: 90%;
                // border-left: 1px solid #ccc;
                // border-right: 1px solid #ccc;

                .mat-column-dim_number{ 
                    text-align: center;
                    width: 5em;
                }

                .mat-column-dim_values_preview{
                    text-align: center;
                    width: 100%;
                    // background-color: blue;
                }

                .mat-column-expand{
                    // background-color: brown;
                    width: 3em;
                }

                th{ // Table header
                    user-select: none;
                    cursor: default;
                }

                tr.data-row{
                    // Selector for the rows
                }

                tr.data-row:not(.expanded-row):hover {
                    background: whitesmoke;
                }
                
                tr.data-row:not(.expanded-row):active {
                    background: #efefef;
                }

                .data-row td {
                    border-bottom-width: 0;
                }

                .mat-column-expand{
                    button{
                        // width: 2em;
                        mat-icon{
                            // font-size: 1em;
                        }
                    }
                    
                }

                tr.detail-row {
                    height: 0;
                }
                
                .detail {
                    display: flex;

                    // background-color: red;
                    width: 100%;
                    word-break: normal;
                }
                
                .detail-value {
                    padding: 16px;
                }
                
                .detail-value-attribution {
                    opacity: 0.5;
                }
            }
        }
    }
}

.expanded-row{
    
}

.selected-row{
    background: whitesmoke;
}