@use '@angular/material' as mat;
@import '../../../../theme.scss';

body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    header{
        width: 100%;
        height: fit-content;

        padding: 1em 1em 1em 4em;

        // background-color: blue;
    }

    section{
        width: 100%;
        height: 90%;

        padding: 1em 1em 1em 2em;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        // background-color: yellow;

        overflow: hidden;

        #intersectors_table_wrapper{
            width: 20%;
            max-height: 100%;
            overflow: auto;

            padding: 0 5% 0 0;
            
            table{
                .mat-column-intersections{
                    text-align: center;
                }
            }
        }

        #intersector_table_wrapper{
            width: 70%;
            overflow: auto;
            

            table{
                max-width: 100%;

                .mat-column-dim_number{ // concertar 
                    width: 5em;
                    text-align: center;
                }

                .mat-column-dim_values{
                    // overflow: auto;
                    
                }

                tr.data-row:not(.expanded-row):hover {
                    background: whitesmoke;
                }
                
                tr.data-row:not(.expanded-row):active {
                    background: #efefef;
                }

                .data-row td {
                    border-bottom-width: 0;
                }

                tr.detail-row {
                    height: 0;
                }
                
                .detail {
                    overflow: hidden;
                    display: flex;

                    background-color: red;
                    width: 10em;
                    word-break: break-all;
                }
                
                .detail-value {
                    padding: 16px;
                }
                
                .detail-value-attribution {
                    opacity: 0.5;
                }
            }
        }
    }
}