<mat-list>
    <mat-list-item matRipple [matRippleCentered]="true"  *ngFor="let pattern of page_items; let id = index">
        <app-pattern-summary [id]="id + 1" [pattern_id]="pattern.identifier" [pattern]="pattern" [available_height]="available_height" (page_size)="refreshPageSize($event)"></app-pattern-summary>    
    </mat-list-item>

    <div id="navigation_options" #navigation_options>
        <mat-divider></mat-divider>
        
        <div id="navigation_options_1">
            <p> Page {{current_page + 1}} of {{total_pages}}</p>
        </div>
        
        <div id="navigation_options_2">
            <mat-icon (click)="goToFirstPage()" aria-hidden="false" aria-label="first_page" fontIcon="first_page"></mat-icon>    
            <mat-icon (click)="previousPage()" aria-hidden="false" aria-label="navigate_before" fontIcon="navigate_before"></mat-icon>    
            <mat-icon (click)="nextPage()" aria-hidden="false" aria-label="navigate_next" fontIcon="navigate_next"></mat-icon>  
            <mat-icon (click)="goToLastPage()" aria-hidden="false" aria-label="last_page" fontIcon="last_page"></mat-icon>  
        </div>
    </div>
</mat-list>
