<body #body (window:resize)="onResize($event)">
    <section>
        <div #vizualization_div id="vizualization_div"></div>
        
        <div id="rss-view-placeholder" class="floatable"
            (mouseleave)="disableRssView()">

            <app-rss-view-drawer id="rss_view_drawer" class="floatable"
                [hidden]="!rss_view_drawer_enabled"
                (mouseenter)="enableRssView()">
            </app-rss-view-drawer>

            <app-rss-view id="rss_view" class="floatable" 
                (onTruncation)="onTruncation($event)"
                (initialized)="disableRssView()"
                [@slideInOut]="rss_view_enabled ? 'in' : 'out'">
            </app-rss-view>
        </div>
    </section>
</body>
