html, body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0em;
    // background-color: yellow;
    height: 100vh;

    position: relative;

    section{
        display: flex;
        flex-grow: 4;

        justify-content: center;

        position: relative;

        #vizualization_div{
            z-index: 0;
            position: relative;
            object-fit: cover;
            width: 100%;
            height: 100%;

            // background-color: red;
            object-fit:contain;
        }

        #rss-view-placeholder{
            top: 1em;
            right: 1em;

            height: 40%;
            width: 40%;

            // background-color: brown;

            #rss_view_drawer {
                top: 2em;
                right: 2em;
    
                width: 10%;
                height: 10%;
    
                cursor: pointer;
            }
            
            #rss_view {
                // top: 1em;
                padding-top: 1em;
    
                // height: 35%;
                height: 100%;
                width: 100%;
    
                // background-color: red;
            }
        }
    }
}

.floatable {
    z-index: 1;
    position: absolute;
}