<body #app_body id="app_body">
    <aside #aside>
        <div id="main-options">
            <header class="main-option" id="model-selection-button" #model_selector matRipple [matRippleCentered]="true"
                (click)="toggleMainOption(MainOption.MODEL_SELECTOR)"
                matTooltip="Change model">
                <mat-icon aria-hidden="false" aria-label="open_file" fontIcon="upload_file"></mat-icon>
            </header>

            <header class="main-option" id="settings-button" matRipple [matRippleCentered]="true" 
                [ngClass]="{'buttonToggled': this.settings_enabled}"
                (click)="toggleMainOption(MainOption.SETTINGS)"
                matTooltip="Settings">
                <mat-icon aria-hidden="false" aria-label="settings" fontIcon="settings"></mat-icon>
            </header>
            
            <header class="main-option" id="truncate-model-button" 
                [ngClass]="{'buttonToggled': this.truncate_model_enabled}"
                (click)="toggleMainOption(MainOption.TRUNCATE_MODEL)"
                matTooltip="Truncate Model">
                <mat-icon aria-hidden="false" aria-label="settings" fontIcon="show_chart"></mat-icon>
            </header>

            <header class="main-option buttonToggled" id="intersection-mode-button" 
                [ngClass]="{'buttonToggled': this.intersection_mode_enabled}"
                (click)="toggleMainOption(MainOption.INTERSECTION_MODE)"
                matTooltip="Intersection mode">
                <mat-icon aria-hidden="false" aria-label="settings" fontIcon="donut_small"></mat-icon>
            </header>
        </div>
        
        <div id="content-cover" [hidden]="!truncate_model_enabled"></div>
        <mat-sidenav-container #content id="content" autosize [ngClass]="{'faded': truncate_model_enabled}">
            <div id="settings-wrapper-lower-content">
                <div id="paginator-placeholder" *ngIf="!model_loaded"></div>
                <app-dynamic-paginator *ngIf="model_loaded" [matList_height]="matList_height"></app-dynamic-paginator>
            </div>
        
            <mat-sidenav #sidenav id="settings-wrapper-upper-content" mode="over" fixedInViewport="false">
                <nav>
                    <button class="setting" mat-raised-button [matMenuTriggerFor]="scaleMenu">Scale</button>
                    <mat-menu class="setting" #scaleMenu="matMenu">
                        <button mat-menu-item>Linear</button>
                        <button mat-menu-item>Logarithmic</button>
                    </mat-menu>
        
                    <button class="setting" mat-raised-button [matMenuTriggerFor]="areaMenu">Area attribute</button>
                    <mat-menu class="setting" #areaMenu="matMenu">
                        <button mat-menu-item>Pattern size</button>
                        <button mat-menu-item>Density</button>
                        <button mat-menu-item>G</button>
                    </mat-menu>
        
                    <mat-menu class="setting" #groupMenu="matMenu">
                        <button mat-menu-item>Flat</button>
                        <button mat-menu-item>Group by fonts</button>
                    </mat-menu>
        
                    <button class="setting" mat-raised-button>Pin/ unpin</button>
                </nav>
            </mat-sidenav>
        </mat-sidenav-container>
    </aside>

    <div id="main-app">
        <app-rss-view #rss_view id="rss_view" class="floatable" 
                (onTruncation)="onTruncation($event)"
                (initialized)="disableRssView()"
                [@slideInOut]="truncate_model_enabled ? 'in' : 'out'"
                *ngIf="model_loaded">
        </app-rss-view>

        <div id="visualization">
            <!-- <router-outlet 
                (activate)="onActivate($event)"
                (onTruncationFinished)="onTruncationFinished()"
                >
            </router-outlet> -->
            <app-visualization #visualization_view
                (onTruncation)="onTruncation($event)"
                *ngIf="model_loaded">
            </app-visualization>
        </div>
    </div>
</body>