@use '@angular/material' as mat;
// @import '../style.scss';
@import '../theme.scss';

// $primary-palette: map-get($map: , $key: )

$max_nav_height: 5vh;

body{
    // $background: map-get($theme, background);
    overflow: hidden;
    background-color: $background-color;
    // position: absolute;
    z-index: 1;
    // top: 0px;
    // right: 0;
    // left: 0;
    // bottom: 0px;
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;

    aside{
        z-index: 2;
        background-color: mat.get-color-from-palette($primary-palette, 900);
        color: mat.get-color-from-palette($primary-palette, '900-contrast');
        // flex: 1;
        display: flex;
        flex-direction: column;

        width: 25vw;
        max-height: 100vh;
        min-height: 100vh;

        // background-color: green;

        #main-options{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            // background-color: brown;

            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-left: 0.5em;
            padding-right: 0.5em;

            height: 10vh;
            
            #matlist-placeholder{
                min-height: $max_nav_height;
                max-height: $max_nav_height;
                padding-top: 1em;
                padding-bottom: 1em;
                padding-left: 1em;
                padding-right: 1em;
            }

            .main-option{
                min-height: $max_nav_height;
                max-height: $max_nav_height;
                padding-top: 1em;
                padding-bottom: 1em;
                padding-left: 1em;
                padding-right: 1em;
    
                user-select: none;
    
                display: flex;
                flex-direction: row;
                align-items: center;
    
                border-radius: 10px;

                background-color: mat.get-color-from-palette($primary-palette, 900);
    
                mat-icon{
                    font-size: 2.5em;
                    width: 1em;
                    height: 1em;
                }
    
                h1{
                    max-width: 80%;
    
                    margin: 0 0 0 0;
    
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                    padding-left: 0.5em;
                    padding-right: 0.5em;
                    
                    word-wrap: break-word;
                    font-size: 1.25em;
                }
            }
    
            .main-option:hover{
                background-color: mat.get-color-from-palette($primary-palette, 800);
                cursor: pointer;
            }

            #truncate-model-button{
                mat-icon{
                    transform: scaleX(-1);
                }
            }
        }

        #content-cover{
            width: 25vw;
            height: 90vh;
            
            position: absolute;
            top: 10vh;

            z-index: 2;

            background-color: rgba(0, 0, 0, 1); 
        }

        .sidenav-content{
            height: 90vh;
            background-color: mat.get-color-from-palette($primary-palette, 900);

            #settings-wrapper-lower-content{
                width: 100%;
                height: 100%;
            }

            #settings-wrapper-upper-content{
                background-color: mat.get-color-from-palette($primary-palette, 900);
                width: 80%;

                nav{
                    display: flex;
                    flex-direction: column;

                    .setting{
                        color: white;
                        background-color: mat.get-color-from-palette($primary-palette, 800);

                        margin: 0.5em 1em 0.5em 1em;
                    }
                }
            }

            #pattern-summary{
                width: 100%;
                height: 100%;
                color: white;
            }

            app-dynamic-paginator{
                flex: 4;
            }
        }

        h2{
            padding-left: 1em;
            padding-top: 1em;
        }
    }

    #main-app{
        // background-color: green;
        width: 75vw;
        height: 100vh;
        flex: 4;
        display: flex;
        flex-direction: column;

        #rss_view {
            z-index: 2;

            position: absolute;
            top: 10vh;
            left: 0vw;

            height: 90vh;
            width: 25vw;
        }

        #visualization{
            width: 100%;
            height: 100%;
            // flex: 14;

            #select-model-warning-wrapper{
                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                #button-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding-top: 1em;
                    padding-bottom: 1em;
                    padding-left: 1em;
                    padding-right: 1em;
        
                    user-select: none;
        
                    display: flex;
                    flex-direction: row;
                    align-items: center;
        
                    border-radius: 10px;

                    background-color: mat.get-color-from-palette($primary-palette, 800);

                    width: 40em;
                    height: 10em;

                    h1{
                        font-size: 2em;
                        color: white;
                    }
                }

                #button-wrapper:hover{
                    background-color: mat.get-color-from-palette($primary-palette, 600);
                    cursor: pointer;
                }
                
            }
        }

        footer{
            // flex: 1;
            // background-color: brown;
        }
    }
}

.floatable {
    z-index: 1;
    position: absolute;
}

.buttonToggled{
    background-color: mat.get-color-from-palette($primary-palette, 800) !important;
}