<body #app_body id="app_body">
    <aside #aside>
        <div id="main-options">
            <header class="main-option" id="model-selection-button" *ngIf="application_status == applicationStatusLoaded" #model_selector matRipple [matRippleCentered]="true"
                (click)="toggleMainOption(MainOption.MODEL_SELECTOR)"
                matTooltip="Change summary">
                <div id="matlist-placeholder" *ngIf="application_status == applicationStatusUnloaded"></div>
                <mat-icon aria-hidden="false" aria-label="open_file" fontIcon="upload_file" ></mat-icon>
            </header>

            <header class="main-option" id="truncate-model-button" 
                [ngClass]="{'buttonToggled': this.truncate_model_enabled, 'main-option-disabled':this.truncate_model_disabled}"
                *ngIf="application_status == applicationStatusLoaded"
                (click)="toggleMainOption(MainOption.TRUNCATE_MODEL)"
                matTooltip="Truncate summary">
                    <mat-icon aria-hidden="false" aria-label="settings" fontIcon="timeline"></mat-icon>
            </header>

            <header class="main-option" id="search"
                *ngIf="application_status == applicationStatusLoaded"
                (click)="toggleMainOption(MainOption.SEARCH)"
                matTooltip="Search patterns">
                    <mat-icon>search</mat-icon>
            </header>

            <header class="main-option" id="highlight-superpatterns"
                [ngClass]="{'buttonToggled': this.highlight_superpatterns_enabled, 'main-option-disabled':this.highlight_superpatterns_disabled}"
                *ngIf="application_status == applicationStatusLoaded"
                (click)="toggleMainOption(MainOption.HIGHLIGHT_SUPERPATTERNS)"
                matTooltip="Highlight super-patterns">
                    <mat-icon>all_out</mat-icon>
            </header>
<!-- 
            <header class="main-option" id="settings-button" matRipple [matRippleCentered]="true" 
                [ngClass]="{'buttonToggled': this.settings_enabled}"
                *ngIf="model_loaded"
                (click)="toggleMainOption(MainOption.SETTINGS)"
                matTooltip="Settings">
                <mat-icon aria-hidden="false" aria-label="settings" fontIcon="settings"></mat-icon>
            </header> -->
        </div>
        
        <div id="content-cover" [hidden]="!truncate_model_enabled"></div>
        <mat-sidenav-container #content class="sidenav-content" autosize [ngClass]="{'faded': truncate_model_enabled}">
            <div id="settings-wrapper-lower-content">
                <app-pattern-summary id="pattern-summary" #pattern_summary></app-pattern-summary>
            </div>
        
            <mat-sidenav #sidenav id="settings-wrapper-upper-content" mode="over" fixedInViewport="false">
                <nav>
                    <button class="setting" mat-raised-button [matMenuTriggerFor]="scaleMenu">Scale</button>
                    <mat-menu class="setting" #scaleMenu="matMenu">
                        <button mat-menu-item>Linear</button>
                        <button mat-menu-item>Logarithmic</button>
                    </mat-menu>
        
                    <button class="setting" mat-raised-button [matMenuTriggerFor]="areaMenu">Area attribute</button>
                    <mat-menu class="setting" #areaMenu="matMenu">
                        <button mat-menu-item>Pattern size</button>
                        <button mat-menu-item>Density</button>
                        <button mat-menu-item>G</button>
                    </mat-menu>
        
                    <mat-menu class="setting" #groupMenu="matMenu">
                        <button mat-menu-item>Flat</button>
                        <button mat-menu-item>Group by fonts</button>
                    </mat-menu>
                </nav>
            </mat-sidenav>
        </mat-sidenav-container>

        
    </aside>

    <div id="main-app">
        <app-rss-view #rss_view id="rss_view" class="floatable" 
                (onTruncation)="onTruncation($event)"
                (initialized)="disableRssView()"
                [@slideInOut]="truncate_model_enabled ? 'in' : 'out'"
                *ngIf="application_status == applicationStatusLoaded">
        </app-rss-view>

        <div id="visualization">
            <!-- <router-outlet 
                (activate)="onActivate($event)"
                (onTruncationFinished)="onTruncationFinished()"
                >
            </router-outlet> -->
            <div id="select-model-warning-wrapper" *ngIf="application_status == applicationStatusUnloaded">
                <div id="button-wrapper" (click)="toggleMainOption(MainOption.MODEL_SELECTOR)">
                    <h1> Select summary to visualize </h1>
                </div>
            </div>

            <div id="progress-spinner" *ngIf="application_status == applicationStatusLoading">
                <mat-spinner></mat-spinner>
                <h1>Loading visualization...</h1>
            </div>
            
            <app-visualization #visualization_view
                (onTruncation)="onTruncation($event)"
                (datapoint_hover_in)="updatePatternSummary($event)"
                (datapoint_hover_out)="updatePatternSummary(null)"
                (datapoint_click)="togglePatternSummary($event)"
                *ngIf="application_status == applicationStatusLoaded">
            </app-visualization>
        </div>
    </div>
</body>