<body #rssWindow (window:resize)="onResize($event)">
    <div id="visualization_div" #visualization_div></div>
    <div id="slider-div">
        <mat-slider 
            class="example-margin"
            (change)="onSliderChange($event)"
            [max]="rss_evolution.length"
            [min]="1"
            [step]="1"
            [discrete]="false"
            [showTickMarks]="true">
        <input matSliderThumb [(ngModel)]="pattern_number" #slider>
        </mat-slider>

        <p>Number of patterns: {{pattern_number}} </p>
    </div>
</body> 