body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: red;
    header{
        width: 100%;
        height: 25%;
        background-color: green;

    }

    section{
        width: 100%;
        height: 75%;
        background-color: yellow;

        p {
            word-wrap: normal; /* Allows long words to be able to be broken and wrap onto the next line */
            overflow-wrap: break-word; /* Similar to word-wrap, but works in all browsers */
            white-space: normal; /* Allows the text to wrap to the next line */
            background-color: brown;
        }
    }
}